.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.component {
  position: fixed;
  top: 35%;

  opacity: 1;
  transition: opacity 0.5s linear;
}

.component_disappeared {
  opacity: 0;
  transition: opacity 0.5s linear;
}

@media (max-width: 800px) {
  .component {
    top: calc(var(--ifm-navbar-height) + 3rem + 1rem);
  }
}
